@model ProductUpdateRequest

<form asp-action="Update" method="post">
    <input type="hidden" name="ID" value="@Model.ID" />

    <label for="Name">Name</label>
    <input type="text" name="Name" value="@Model.Name" />

    <label for="Description">Description</label>
    <textarea name="Description">@Model.Description</textarea>

    <input type="submit" value="Update" />
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#createProductBtn').click(function () {
            $.get('@Url.Action("Create")', function (data) {
                $('#modalBody').html(data);
                $('#productModal').modal('show');
            });
        });

        $('.editProductBtn').click(function () {
            var id = $(this).data('id');
            $.get('@Url.Action("Edit", new { id = id })', function (data) {
                $('#modalBody').html(data);
                $('#productModal').modal('show');
            });
        });
    });
    </script>
